<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ post.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body background="/static/images/bg-post.jpg">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
					ABC
                    </header>

				<!-- Main -->
					<section id="main">
                    </section>
			</div>
            <div class="wrapper">
                <center style="color: #333; padding-top: 100px">
            </div>
            <div class="footer">
                <center style="color: #aaa; font-family: Courier; font-size: 11px;">
                <br /><br />&copy; 2016 Ian's Multitrack Inc. 
                </center>
            </div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.poptrox.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/main.js"></script>

			<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    		<script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>

	</body>
</html>
