<h1>Tasks</h1>
{% if tasklist %}
    <ul>
    {% for task in tasklist %}
    	{% ifequal task.task_status 'TODO' %}
	    	<li><a href="{% url 'tasks:update' task.id %}">({{ task.task_status }}) {{ task.task_title }}</a></li>
    	{% endifequal %}
    	{% ifequal task.task_status 'DONE' %}
	    	<li><a href="{% url 'tasks:detail' task.id %}">({{ task.task_status }}) {{ task.task_title }}</a></li>
    	{% endifequal %}
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}

<a href={% url 'tasks:add' %}> Add a new task </a>

